@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
 background-color: #F0EBCE;
 font-family: 'Martian Mono', monospace;
}
.container {
    max-width: 1200px;
    margin: auto;
}

input {    
    outline: none;  
}
button {
    cursor: pointer;
    background-color:#395144;
    color: #fff;
}
button:hover{
    opacity: .9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
}
/*Navbar*/
nav {
 background-color: #395144;
}

.navbar-content {
    color: #fff;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Sign Up*/
.sign-up {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up input {
    text-align: center;
    border-radius: 5px;
    margin-bottom: .5rem;
    width:  200px;
    font-size: 2rem;
    padding: .5rem;
}
select{
    margin-bottom: 1rem;
    width: 200px;
    padding: .5rem;
    font-size: 2rem;
    text-align: center;
}

.sign-up button {
    padding: .5rem;
    font-size: 2rem;
    width: 200px;
}

/*Exercise Input */
.user-profile {
    margin-left: 2rem;
    font-size: 1.2rem;
}
.ex-input {
    margin: 2rem 0;
   
}

.ex-input button {
    padding: .5rem;
    font-size: 1.5rem;
}
.ex-input form{
    
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    
}

.ex-input form input {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    margin: .5rem 0;
    width: 80%;
    font-weight: bold;
}

.statistics {
    margin: .5rem auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*List Group*/
.list-group{
    min-height: 300px;
}
.list-group-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-group-box {
    padding: 1rem;
    border-radius: 5px;
    border: solid black 1px;
    width: 300px;
    margin: 1rem;
}
.list-group-box  p {
    margin-bottom: .5rem;
}

span {
    font-weight: bold;
}

a {
    text-decoration: none;
    padding: 0.7rem 1rem;
    background-color: #395144;
    color: #fff;
    border-radius: 5px;
    width: 110px;
    margin-top: 1rem;
}

a:hover {
    opacity: 0.8;
}

/*History*/
.histories {
    padding: 1rem;
    overflow: hidden;
}
.histories-box{
    display: flex;
    flex-wrap: wrap;
}

/*Footer*/

footer {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #395144;
}
.footer-content{
    display: flex;
    justify-content: center;
    color: #fff;
    
}